.logo {
    line-height: 90px;
    padding-left: 20px;
    background-color: #1890ff;
    img{
        height: 35px;
    }
    h1{
        color: rgb(23, 177, 204);
        font-size: 20px;
        display: inline;
        margin: 0 0 0 10px;
    }
}
